---
import DarkMode from "./DarkMode.astro";
import Logo from "./Logo.astro";
---

<header class="h-auto flex items-center justify-between w-full z-50 p-2 lg:p-4">
  <a href="/" class="flex items-center justify-between gap-2 cursor-pointer">
    <Logo size="size-10" />
    <p class="font-[600]">AstroDirectory.dev</p>
  </a>
  <div class="flex items-center justify-between">
    <a
      href="https://guillaume.ceo"
      class="font-[600] border-b-3 border-orange-300"
      target="_blank">Guillaume.ceo</a
    >
    <DarkMode />
  </div>
</header>
