---
import Header from "./Header.astro";
---

<Header />
<section
  class="w-full py-4 lg:pb-24 border-b border-neutral-300 dark:border-neutral-800 px-2 lg:px-0"
>
  <div class="container mx-auto text-center grid gap-6">
    <div class="text-center max-w-[650px] mx-auto">
      <h1 class="text-[32px] lg:text-[64px]">
        Build a Lightning-Fast, SEO-Friendly Directory
      </h1>
      <p class="text-neutral-500 lg:text-xl">
        Looking to launch a directory website that ranks well on Google, loads
        instantly, and scales? Use this template.
      </p>
    </div>
    <div
      class="bg-neutral-100 dark:bg-neutral-800 rounded-full pl-3 pr-6 py-2 cursor-pointer max-w-[400px] min-w-[300px] mx-auto flex items-center gap-2 text-base border border-transparent hover:border-neutral-300 dark:hover:border-neutral-600 transition duration-300 group"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="opacity-50 group-hover:opacity-100 transition duration-300"
        ><path
          fill="currentColor"
          d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0s.41-1.08 0-1.49zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14"
        ></path></svg
      >
      <input
        type="text"
        class="w-full text-[13px] text-black dark:text-white"
        placeholder="Search here..."
      />
    </div>
  </div>
</section>
